.main {
    text-shadow: 0 3px 10px black;
}

.main__video {
    margin-left: 2%;
    /* margin-right: 2%; */
    /* margin-left: calc(100vw / 2 - 280px); */
    margin-top: 10px;
}

.main__video__iframe {
/*     width: 560px; 
    height: 315px; */
    width: 96%;
/*     margin-left: 2%;
    margin-right: 2%; */
}

.main__text {
    color: #d3ebb5;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 10px 5% 0 5%;
}

.main__text__title {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.5625rem;
}

.main__text__inf {
    font-size: 1.15rem;
    text-indent: 3%;
    margin-bottom: 0.7%;
}

.main {
    margin-bottom: 5%;
}

@media (min-width: 641px) {
    .main__video {
        margin-left: calc(100vw / 2 - 280px);
       /*  margin-right: 0; */
    }
    .main__video__iframe {
        
        width: 560px; 
        height: 315px;
    }
}